# Avoid storing live settings in the repository.
*.secrets.yml
*.pem

out
.cache
.scm_metadata
.gradle
logs
build_reports.tar
target
.settings
.classpath
.project
.pydevproject
.metadata
.pydevproject
*.iml
*.ipr
*.iws
*.dll
*.pdb
.idea
venv
*.pyc
.ropeproject
**/.DS_Store
aline-testingservices-api/ebdeployment
auth/*.properties
/build
/*/build
/*/*/build
/*/*/*/build
*.log
.coverage
bin
db.sqlite3
/coverage/java/src/unittest-parent/
.cache
/output
**/bin/*
**/obj/*
**/packages/*

build-ci/aline-scripts/tools/*.properties

build-ci/build-worker/base_dir

**/changelog.html

# common frontend junk
**/node_modules/
**/bower_components/
**/.sass-cache/
**/*.css.map

coverage/api/output

deployment/docker/compose-base/infrastructure/images/sonarqube/sonar-plugins/**
deployment/v1/aline-deployment/config.properties
deployment/v1/aline-deployment/dist
deployment/v1/aline-deployment/version.properties
deployment/v2/.elasticbeanstalk/
deployment/v2/artifacts/

ui-frontend/aline-frontend.zip
ui-frontend/.tmp/
ui-frontend/dist/
ui-frontend/unit-tests/coverage-report/

ui-backend/.pydevproject
ui-backend/app.cfg
ui-backend/output
ui-backend/static/
ui-backend/libs/
ui-backend/dfbase/
ui-backend/poms/
ui-backend/rule_descriptions/
ui-backend/tmp/

ui-backend-java/build/
ui-backend-java/target/
ui-backend-java/.elasticbeanstalk/

ide-plugins/visual-studio/src/*.ncb
ide-plugins/visual-studio/src/*.opensdf
ide-plugins/visual-studio/src/*.sdf
ide-plugins/visual-studio/src/*.suo
ide-plugins/visual-studio/src/*.user
ide-plugins/visual-studio/src/.vs
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.Domain/*.aps
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.Domain/*.eto
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.Domain/*.user
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.Domain/ClientBin
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.Domain/GeneratedArtifacts
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.Domain/[Bb]in
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.Domain/[Dd]ebug
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.Domain/[Rr]elease
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.Domain/_Pvt_Extensions
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.Domain/obj
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient.Test/*.aps
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient.Test/*.eto
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient.Test/*.user
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient.Test/ClientBin
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient.Test/GeneratedArtifacts
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient.Test/[Bb]in
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient.Test/[Dd]ebug
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient.Test/[Rr]elease
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient.Test/_Pvt_Extensions
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient.Test/obj
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient/*.aps
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient/*.eto
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient/*.user
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient/ClientBin
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient/GeneratedArtifacts
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient/[Bb]in
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient/[Dd]ebug
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient/[Rr]elease
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient/_Pvt_Extensions
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin.RestClient/obj
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin/*.aps
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin/*.eto
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin/*.user
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin/ClientBin
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin/GeneratedArtifacts
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin/[Bb]in
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin/[Dd]ebug
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin/[Rr]elease
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin/_Pvt_Extensions
ide-plugins/visual-studio/src/DevFactory.ALine.Plugin/obj
ide-plugins/visual-studio/src/_ReSharper.*
ide-plugins/visual-studio/src/ipch
mdm/*.zip
mdm/.elasticbeanstalk
mdm/.idea
mdm/.vagrant
mdm/MDM/config.py.rahul
mdm/Vagrantfile
mdm/ui-tests/config.properties
mdm/ui-tests/propUtil.py
mdm/ui-tests/propUtil.pyc
mdm/venv
metrics/*.iml
metrics/.*
metrics/metrics-warehouse/*.zip
metrics/metrics-worker/src/main/resources/worker.properties
metrics/metrics-worker/src/test/resources/dotNetReferenceFixupTests/csProjSubDir/Test.Dot.Net.First.csproj
metrics/metrics-worker/src/test/resources/dotNetReferenceFixupTests/csProjSubDir/Test.Dot.Net.First.csproj.bak
metrics/metrics-worker/src/test/resources/dotNetReferenceFixupTests/csProjSubDir/Test.Dot.Net.Second.csproj
metrics/metrics-worker/src/test/resources/dotNetReferenceFixupTests/csProjSubDir/Test.Dot.Net.Second.csproj.bak
metrics/metrics-worker/src/test/resources/dotNetReferenceFixupTests/vbProjSubDir/Test.Dot.Net.First.vbproj
metrics/metrics-worker/src/test/resources/dotNetReferenceFixupTests/vbProjSubDir/Test.Dot.Net.First.sln
metrics/metrics-worker/src/test/resources/dotNetReferenceFixupTests/importcheckdir/dfinstaller/*
metrics/scripts/metrics-restart/aline-metrics-restart.zip
metrics/scripts/artifacts
unit-tests/agent/dependency-reduced-pom.xml
unit-tests/api/output
unit-tests/runner/output
build-ci/build-agent/dfbuild-agent/buildagent.net/
*.zip
deployment/v2/eb.tmp/
unit-tests/runner/coverage.properties
unit-tests/runner/path_to_opencover_script

.pydevproject
base/.pydevproject
deployment/.pydevproject
deployment/v2/.pydevproject
firewall/core/.pydevproject
mdm/.pydevproject
metrics/sdk-migration-slices/.pydevproject
metrics/sdk-migration-slices/insights-profiles/.pydevproject
scm-service/.pydevproject
unit-tests/api/.pydevproject
unit-tests/runner/.pydevproject

# firewall email
firewall/email-template-source/dist/**
firewall/email-template-source/preview/css/
firewall/email-template-source/src/css/
firewall/email-template-source/src/_assembled/

# UT binaries
!unit-tests/runner/dotnet/*.dll
!unit-tests/runner/dotnet/*.pdb
